{% extends 'base.html.twig' %}

{% block title %}Modifier une tâche - TaskLinker{% endblock %}
{% block page_title %}{{ task.title }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.title, { label: 'Titre de la tâche' }) }}
	{{ form_row(form.description, { label: 'Description' }) }}
	<div class="flex-form">
		<div>{{ form_row(form.deadline, { label: 'Date' }) }}</div>
		<div>{{ form_row(form.status, { label: 'Statut' }) }}</div>
	</div>
	{{ form_row(form.assignedTo, { label: 'Membre' }) }}
	<br>
	<button class="button button-submit">Modifier</button>
	{{ form_end(form) }}

	<form action="{{ path('app_task_delete', {id: task.id}) }}" method="post">
		<input type="hidden" name="_token" value="{{ csrf_token('delete_task_' ~ task.id) }}">
		<button class="delete-task" style="background:none;border:none;cursor:pointer">Supprimer la tâche</button>
	</form>
{% endblock %}
