{% extends 'base.html.twig' %}

{% block title %}{{ task.title }} - TaskLinker{% endblock %}
{% block page_title %}{{ task.title }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	<div class="form-flex">
		<div>{{ form_row(form.deadline) }}</div>
		<div>{{ form_row(form.status) }}</div>
	</div>
	{{ form_row(form.assignedTo) }}
	<button class="button button-submit">Modifier</button>
	{{ form_end(form) }}

	<form action="{{ path('app_task_delete', {id: task.id}) }}" method="post">
		<input type="hidden" name="_token" value="{{ csrf_token('delete_task_' ~ task.id) }}">
		<button class="delete-team">Supprimer la tâche</button>
	</form>
{% endblock %}
