{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - TaskLinker{% endblock %}
{% block page_title %}Créer une tâche{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	<div class="form-flex">
		<div>{{ form_row(form.deadline) }}</div>
		<div>{{ form_row(form.status) }}</div>
	</div>
	{{ form_row(form.assignedTo) }}
	<button class="button button-submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
