{% extends 'base.html.twig' %}

{% block title %}{{ employee.fullName }} - TaskLinker{% endblock %}
{% block page_title %}{{ employee.fullName }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.email) }}
	<div class="form-flex">
		<div>{{ form_row(form.hiredAt) }}</div>
		<div>{{ form_row(form.status) }}</div>
	</div>
	<button class="button button-submit">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}
