{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} - TaskLinker{% endblock %}
{% block page_title %}{{ project.title }}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.members) }}
	<button class="button button-submit">Modifier</button>
	{{ form_end(form) }}
{% endblock %}
